body{
  background-color: #202632;
  font-family: 'Gentium Plus', serif;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #313a49;
  box-shadow: 5px 5px 10px rgba(38, 36, 45, 0.463);
  margin: auto;
  max-width: 500px;
  width: 90%;
  color: rgb(105, 197, 255);
  border-radius: 10px;
  margin-top: 10%;
}

button {
  border: 2px solid rgb(105, 197, 255);
  border-radius: 5px;
  background-color: rgb(227, 248, 255);
  color: rgb(0, 157, 255);
  text-align: center;
  padding: 5px;
}

button:hover{
  background-color: rgb(105, 197, 255);
  color: white;  
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

#task-input{
  background-color: rgb(227, 248, 255);
  border: 2px solid rgb(105, 197, 255);
  margin: 5px
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: grey;
}
